[Unit]
 Description=My LCD Service
 After=multi-user.target

 [Service]
 Environment=USER=
 Type=idle
 ExecStartPre=/bin/sleep 30
 ExecStart=/bin/sh -c "/usr/bin/env python3 /home/$USER/DWIN_T5UIC1_LCD/run.py $USER"

 [Install]
 WantedBy=multi-user.target
